$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
}

#tagline {
  font-size: 12px;
  font-weight: normal;
  font-family: sans-serif;
}

//styling for progress bar
$primary-color: #5bc0de;
$nav-border-color: #5bc0de;
$nav-bg-color: #5bc0de;
$bg-color: #f7f7f7;
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
  margin: auto;
  text-align: center;
}
.nav-progress {
	display: table;
	overflow: hidden;
	margin: auto;
	width: 100%;

  min-width: 200px;
	height: 50px;
	border: 1px solid $nav-border-color;
	background-color: $bg-color;
	@include border-radius(6px);
	> div {
		position: relative;
		display: table-cell;
		padding: 14px 0;
		color: $nav-border-color;
		text-align: center;
		font-size: 1.125em;
		line-height: 1.250em;
		&.complete {
			background-color: $nav-bg-color;
			color: #FFF;
			.arrow {
				border: 1px solid $nav-border-color !important;
				background: $nav-bg-color !important;
			}
		}
		&.active {
			background-color: $primary-color;
			color: #FFF;
			.arrow {
				border: none !important;
				background: $primary-color !important;
			}
		}
	}
}
.arrow-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	.arrow-cover {
		position: absolute;
		overflow: hidden;
		width: 24px;
		height: 50px;
		.arrow {
			position: absolute;
			left: -34px;
			width: 50px;
			height: 50px;
			border: 1px solid $nav-border-color;
			background: transparent;
			@include border-radius(6px);
			@include rotate(45deg);
		}
	}
}

	#accordion {
		margin: auto;
		width: 55%;
	}

  .accordion-toggle {
		cursor: pointer;
    font-size: 21px;
	}
  .accordion-content {
		display: none;
		text-align: left;
	}
	.accordion-content p {
		font-size: 14px;
	}



#map {
  height: 80%;
  min-height: 25em;
  width: 100%;
  min-width: 15em;
  margin: auto;
}

img {
  width: 25%;
}

.class {
  font-size: 24px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.form-control {
  width: 200px;
  margin: auto;
}

body {
  padding: 0;
  color: #6d6d6d;
}

.clue {
  font-size: 1.5em;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
    margin-top: 14px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

// Adjusts space below logo

@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
    min-height: 4.4em;

  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
    min-height: 4.4em;

  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


// Team Page

.links img{
    height: 3em;
    width: 3em;
}

#teamtitle, .team {
  text-align: center;

}

#teamtitle {
  font-size: 21px;
}

.pics {
  margin: 1em;
}

* {
  text-align: center;
}
