
	<h2 id="teamtitle"><strong>TEAM BUTTERFLY</strong></h2>
	<div class="jumbotron">
	<container>
		<div class="row">
			<div class="col-4-md">
				<div class="team">
					<div>
						JENNIFER KRON
					</div>
					<div class="pics">
						<img src="images/jen.jpg" class= "headshot"/>
					</div>
					<div class="links">

							<a href="https://www.linkedin.com/in/jenniferkron">
							<img src="images/linkedinicon.jpg"/></a>

							<a href="https://github.com/jkron87">
							<img src="images/githubicon.jpg"/></a>

					</div>
				</div>
			</div>
				<br/>
				<br/>
			<div class="col-4-md"></div>
				<div class="team">
					<div>
						STEVE ANTHONY
					</div>
					<div class="pics">
						<img src="images/steve.jpg" class= "headshot"/>
					</div>
					<div class="links">

							<a href="https://www.linkedin.com/in/stephenba4">
							<img src="images/linkedinicon.jpg"/></a>

							<a href="https://github.com/stephenba4">
							<img src="images/githubicon.jpg"/></a>

					</div>
				</div>
			</div>
				<br/>
				<br/>

			<div class="col-4-md">
				<div class="team">
					<div>
						TRAVIS STUMBO
					</div>
					<div class="pics">
						<img src="images/travis.jpg" class= "headshot"/>
					</div>
					<div class="links">

							<a href="https://www.linkedin.com/in/travisstumbo">
							<img src="images/linkedinicon.jpg"/></a>

							<a href="https://github.com/tstumbo">
							<img src="images/githubicon.jpg"/></a>
					</div>
				</div>
			</div>
	</container>
</div>
