<p>This is the clueview1 view.</p>

<div ng-controller="Clueview1Ctrl">
  <div id ="map"></div>
</div>
<div  ng-controller="YelpapiCtrl">
      <p ng-show="count===1">
      {{category}}

      </p>
      <p ng-show="count===2">
        <!-- {{snippetReplaced}} -->
        {{latitude}}
      <p ng-show="count===3"><img ng-src="{{imgurl}}">
      </p>
      <p ng-show="count===4">
        <!-- {{street}} -->
        {{longitude}}
      </p>
      <p ng-show="count===5">
      {{shuffledName}}
    </p>

    <p>POINTS:</p>
    <div id="points">100</div>



      <button id= "hint" ng-click="count = count + 1" ng-init="count=0">Give me a hint</button>

  </div>
