
<div ng-controller="Clueview1Ctrl" ng-init="view=1">
<div  ng-controller="YelpapiCtrl as vm">


<div class="clueview">
<h3>Good luck catching your first ButterFly!</h3>

<div class="jumbotron">

<p>Your destination is somewhere in the blue circle. Click for a hint below.</p>



<div class="nav-progress">
	<div class="active icon">
		εїз
    <div class="arrow-wrapper">
      <div class="arrow-cover">
        <div class="arrow"></div>
      </div>
    </div>
	</div>
	<div class = "icon">
		εїз
    <div class="arrow-wrapper">
      <div class="arrow-cover">
        <div class="arrow"></div>
      </div>
    </div>
	</div>
	<div class = "icon">
		εїз
	</div>
</div>

<br>
  <div id ="map"></div>
<br>


<p class="clue" ng-show="count===1">
{{category}}
</p>
  <p class= "clue" ng-show="count===2">
  {{snippetReplaced}}
</p>
  <p class="clue"ng-show="count===3"><img ng-src="{{imgurl}}">
  </p>
  <p class="clue" ng-show="count===4">
    {{street}}
  </p>
  <p class="clue" ng-show="count===5">
  {{shuffledName}}
  </p>
  <p class="clue" ng-show="count===6">
  You're out of hints!
  </p>

	<a class="btn btn-lg btn-info" ng-click= "checkGeoClick()">Check In! <span class="glyphicon glyphicon-ok"></span></a>
	<button id= "hint1" class="btn btn-lg btn-info" ng-init = "view1 = true" ng-click="count = count + 1" ng-init="count=0">Hint</button>
	<a id= "skip" class="btn btn-lg btn-info" ng-click="reloadRoute()">Skip</span></a>

</div>
  </div>
</div>
</div>
