<div ng-controller="Clueview2Ctrl" ng-init="view=2">
<div  ng-controller="YelpapiCtrl as vm">
<h3>Can you find the second ButterFly?</h3>
<p>Your destination is somewhere in the blue circle. Click for a hint below.</p>
<div class="nav-progress">
	<div class="complete">
		εїз
    <div class="arrow-wrapper">
      <div class="arrow-cover">
        <div class="arrow"></div>
      </div>
    </div>
	</div>
	<div class="active">
		εїз
    <div class="arrow-wrapper">
      <div class="arrow-cover">
        <div class="arrow"></div>
      </div>
    </div>
	</div>
	<div>
		εїз
	</div>
</div>
<br>
  <div id ="map"></div>
  <p class="clue" ng-show="count===1">
  {{category}}
  </p>
  <p class= "clue" ng-show="count===2">
  {{snippetReplaced}}
  <p class="clue"ng-show="count===3"><img ng-src="{{imgurl}}">
  </p>
  <p class="clue" ng-show="count===4">
    {{street}}
  </p>
  <p class="clue" ng-show="count===5">
  {{shuffledName}}
  </p>
  <p class="clue" ng-show="count===6">
  You're out of hints!
  </p>
    <a class="btn btn-lg btn-success" ng-init = "view1 = true" ng-click= "checkGeoClick()">Check In! <span class="glyphicon glyphicon-ok"></span></a>
    <button id= "hint2" class="btn btn-lg btn-success" ng-click="count = count + 1" ng-init="count=0">Hint</button>
    <a id= "skip" class="btn btn-lg btn-success" ng-click="reloadRoute()">Skip</span></a>


  </div>
