
<div ng-controller="Clueview3Ctrl">
<h3>Catch one more ButterFly to win!</h3>
<p>Your destination is somewhere in the blue circle. Click for a hint below.</p>
<div class="nav-progress">
	<div class="complete">
		εїз
    <div class="arrow-wrapper">
      <div class="arrow-cover">
        <div class="arrow"></div>
      </div>
    </div>
	</div>
	<div class="complete">
		εїз
    <div class="arrow-wrapper">
      <div class="arrow-cover">
        <div class="arrow"></div>
      </div>
    </div>
	</div>
	<div class="active">
		εїз
	</div>
</div>
<br>

<!-- <div ng-controller="Clueview3Ctrl"> -->
  <div id ="map"></div>

  <div  ng-controller="YelpapiCtrl as vm">
    <p class="clue" ng-show="count===1">
    {{category}}
    </p>
    <p class= "clue" ng-show="count===2">
    {{snippetReplaced}}
    <p class="clue"ng-show="count===3"><img ng-src="{{imgurl}}">
    </p>
    <p class="clue" ng-show="count===4">
      {{street}}
    </p>
    <p class="clue" ng-show="count===5">
    {{shuffledName}}
  </p>
  <p class="clue" ng-show="count===6">
  You're out of hints!
  </p>
  		<p>POINTS:</p>
				<div id="points3">100</div>
          <a class="btn btn-lg btn-success" ng-init = "view3 = true" ng-click= "checkGeoClick()">Check In! <span class="glyphicon glyphicon-ok"></span></a>
          <button id= "hint1" class="btn btn-lg btn-success" ng-click="count = count + 1" ng-init="count=0">Hint</button>
          <a id= "skip" class="btn btn-lg btn-success" ng-click="reloadRoute()">Skip</span></a>
      <!-- Trigger/Open The Modal -->
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">x</span>
          <p><a id="clicker" ng-href="#/main">Click to play again.</a></p>
          <!-- Load Facebook SDK for JavaScript -->
        </div>
      </div>
