
<p>Your destination is somewhere in the blue circle. Click for a hint below.</p>
<div ng-controller="Clueview3Ctrl">
<h3>Catch one more ButterFly to win!</h3>
<div class="nav-progress">
	<div class="complete">
		εїз
    <div class="arrow-wrapper">
      <div class="arrow-cover">
        <div class="arrow"></div>
      </div>
    </div>
	</div>
	<div class="complete">
		εїз
    <div class="arrow-wrapper">
      <div class="arrow-cover">
        <div class="arrow"></div>
      </div>
    </div>
	</div>
	<div class="active">
		εїз
	</div>
</div>
<br>

<div ng-controller="Clueview3Ctrl">
  <div id ="map"></div>

  <div  ng-controller="YelpapiCtrl as vm">
    <p class="clue" ng-show="count===1">
    {{category}}

    </p>
    <p class= "clue" ng-show="count===2">
    {{snippetReplaced}}
    <p class="clue"ng-show="count===3"><img ng-src="{{imgurl}}">
    </p>
    <p class="clue" ng-show="count===4">
      {{street}}
    </p>
    <p class="clue" ng-show="count===5">
    {{shuffledName}}
  </p>

    		<p>POINTS:</p>
				<div id="points3">100</div>
					<button id= "hint3" class="btn btn-lg btn-success" ng-click="count = count + 1" ng-init="count=0"> Give me a hint </button>
					<a class="btn btn-lg btn-success" ng-click= "checkGeoClick()">Check In!<span class="glyphicon glyphicon-ok"></span></a>

      <!-- Trigger/Open The Modal -->
      <button class="btn btn-lg btn-success" id="myBtn">Skip</button>
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">x</span>
          <h1 id="totalPoints">Total Points: 100</h1>

					<li><fb:login-button autologoutlink="true"></fb:login-button></li>

					<li>
					<div class="fb-share-button"
					data-href="http://www.facebook.com"
					data-layout="button_count"></div>
					</li>


          <p><a id="clicker" ng-href="#/main">Click to play again.</a></p>
        </div>
      </div>
		</div>
	</div>
