<div ng-controller="Clueview2Ctrl" ng-init="view=2">
<div  ng-controller="YelpapiCtrl as vm">

<div class="clueview">
<h3>Can you find the second ButterFly?</h3>
<div class="jumbotron">
<p>Your destination is somewhere in the blue circle. Click for a hint below.</p>
<div class="nav-progress">
	<div class="complete">
		<img class="icon" src="images/butterflyicon.png">
    <div class="arrow-wrapper">
      <div class="arrow-cover">
        <div class="arrow"></div>
      </div>
    </div>
	</div>
	<div class="active">
		<img class="icon" src="images/butterflyicon.png">
    <div class="arrow-wrapper">
      <div class="arrow-cover">
        <div class="arrow"></div>
      </div>
    </div>
	</div>
	<div>
		<img class="icon" src="images/butterflyicon.png">
	</div>
</div>
<br>
  <div id ="map"></div>
  <p class="clue" ng-show="count===1">
  <strong> Category </strong> <br>
  {{category}}
  </p>
    <p class= "clue" ng-show="count===2">
  <strong> Yelp Review Snippit </strong> <br>
    {{snippetReplaced}}
  </p>
    <p class="clue"ng-show="count===3"><img ng-src="{{imgurl}}">
    </p>
    <p class="clue" ng-show="count===4">
      <strong> Street </strong> <br>
      {{street}}
    </p>
    <p class="clue" ng-show="count===5">
      <strong> Shuffled Name </strong> <br>
    {{shuffledName}}
    </p>
    <p class="clue" ng-show="count===6">
    You're out of hints!
    </p>


    <a class="btn btn-lg btn-info" ng-init = "view2 = true" ng-click= "checkGeoClick()">Check In! <span class="glyphicon glyphicon-ok"></span></a>

    <button id= "hint2" class="btn btn-lg btn-info" ng-click="count = count + 1" ng-init="count=0">Hint</button>
    <a id= "skip" class="btn btn-lg btn-info" ng-click="reloadRoute()">Skip</span></a>


  </div>
</div>
</div>
